<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.lwf.framework.train.mapper.TrainMapper" >
    <resultMap id="BaseResultMap" type="cn.lwf.framework.model.Train" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="train_code" property="trainCode" jdbcType="VARCHAR" />
        <result column="start_station_name" property="startStationName" jdbcType="VARCHAR" />
        <result column="end_station_name" property="endStationName" jdbcType="VARCHAR" />
        <result column="train_no" property="trainNo" jdbcType="VARCHAR" />
        <result column="run_date" property="runDate" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <select id="findTrainList" resultMap="BaseResultMap">
        select id, train_code, start_station_name, end_station_name, train_no, run_date, create_time, update_time from train_list
    </select>

    <select id="findTrainByCode" resultMap="BaseResultMap" parameterType="java.lang.String">
        select id, train_code, start_station_name, end_station_name, train_no, run_date, create_time, update_time from train_list where train_code = #{trainCode} limit 1;
    </select>

    <insert id="insert" parameterType="cn.lwf.framework.model.Train">
    insert train_list (
      id, train_code, start_station_name, end_station_name, train_no, run_date, create_time, update_time
    )
    values (
      #{id,jdbcType=BIGINT}, #{trainCode,jdbcType=VARCHAR}, #{startStationName,jdbcType=VARCHAR}, #{endStationName,jdbcType=VARCHAR}, #{trainNo,jdbcType=VARCHAR},#{runDate,jdbcType=VARCHAR}, now(), now()
    )
    </insert>

    <update id="update" parameterType="cn.lwf.framework.model.Train" >
        update train_list
        set
        <if test="trainCode != null and trainCode != ''">train_code = #{trainCode,jdbcType=VARCHAR},</if>
        <if test="startStationName != null and startStationName != ''">start_station_name = #{startStationName,jdbcType=VARCHAR},</if>
        <if test="endStationName != null and endStationName != ''">end_station_name = #{endStationName,jdbcType=VARCHAR},</if>
        <if test="trainNo != null and trainNo != ''">train_no = #{trainNo,jdbcType=VARCHAR},</if>
        <if test="runDate != null and runDate != ''">run_date = #{runDate,jdbcType=VARCHAR},</if>
        update_time = now()
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>